/*
Theme Name: HTML5 Barebones Theme
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}

#footer-web {
	display:none;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	color: royalblue;
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}


/* Headings */

h1 {
	font-size: 38px;
	margin-bottom: 10px;
}

h2 {
	font-size: 32px;
	margin-bottom: 10px;
}

h3 {
	font-size: 28px;
	margin-bottom: 10px;
}

h4 {
	font-size: 22px;
	margin-bottom: 10px;
}

h5 {
	font-size: 18px;
	margin-bottom: 10px;
}

h6 {
	font-size: 16px;
	margin-bottom: 10px;
}

#footer-web {
	display: none;
}

/* =Begin / Utils
-------------------------------------------------------------- */

.grid {
	width: 1005px;
	margin: 0 auto;
}

body {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.blue {
	color: #38b9f2;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}


/* =Header
-------------------------------------------------------------- */

/* Top */

.top {
	background-color: #f4f6fa;
	color: #38b9f2;
	font-weight: bold;
    padding: 7px 0;
    font-size: 14px;
}

.top address {
	display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.top address svg {
    height: 12px;
    margin: 0 2px 0 10px;
    color: #f32a64;
}

nav.top__social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    float: right;
}

nav.top__social ul {
    list-style: none;
    margin: 0;
}

nav.top__social li {
    float: left;
    margin-left: 10px;
}

nav.top__social a {
    display: block;
    position: relative;
    color: #f32a64;
    -webkit-transition: color 250ms;
    transition: color 250ms;
}

nav.top__social a:hover {
	color: #38b9f2;
}

nav.top__social a:before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 21px;
    position: absolute;
    top: 1px;
    left: 0px;
    z-index: 1;
    -webkit-transition: background 250ms;
    transition: background 250ms;
}

nav.top__social a svg {
    height: 25px;
    width: 17px;
    display: block;
    z-index: 2;
    position: relative;
    margin-left: 3px;
}

/* Bottom */

.bottom {
	padding: 10px 0;
}

.bottom h1 {
	float: left;
}

.bottom h1 a {
	display: block;
    background: url(imgs/sprite.png) -26px -40px no-repeat;
    width: 96px;
    height: 100px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

a.bottom--btn {
	display: block;
	float: right;
	margin: 43px 0 0 84px;
	background-color: #38b9f2;
	color: #fff;
	border-radius: 18px;
	padding: 5px 16px;
	text-decoration: none;
	font-weight: bold;
}

a.bottom--btn:hover {
	background-color: #f32a64;
}

.bottom nav {
	float: right;
	margin-top: 48px;
}

.bottom nav ul {
	list-style: none;
	margin: 0;
}

.bottom nav ul li {
	float: left;
	text-align: center;
	width: 107px;
	-webkit-transition: background 250ms;
	transition: background 250ms;
}

.bottom nav ul li a {
	font-size: 18px;
	color: #f32a64;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: color 250ms;
	transition: color 250ms;
}

.bottom nav ul li a:hover {
	color: #38b9f2;
}

.bottom nav ul li.current_page_item a {
	color: #f32a64;
	border-bottom: 2px solid #38b9f2;
}

/* =Middle
-------------------------------------------------------------- */

.middle {
	position: relative;
	overflow: hidden;
	max-height: 355px;
}

/* flexslider */

.middle .flexslider {
	border: none;
}

.flex-direction-nav {
    width: 100%;
    position: absolute;
    top: 190px;
    z-index: 4;
    text-align: center;
}

.flex-direction-nav li a {
	height: 50px;
}

.single-item {
	height: 100%;
}

.slide-wrapper {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%; 
}

.slide-wrapper img {
	display: none;
}

.slide-content-wrapper {
	position: absolute;
	top: 160px;
	width: 100%;
	z-index: 999;
}

.slide-content {
	color: #fff;
	text-shadow: 1px 2px 3px #666;
	width: 660px;
}

.slide-content h2 {
	font-size: 60px;
	font-family: 'Sniglet', cursive;
	font-weight: bold;
}





/* =Content
-------------------------------------------------------------- */

/* Slot 1 */

.content__slot_1 {
	background-color: #f32a64;
	padding: 61px 0;
	color: #fff;
}

.content__slot_1--bg {
	background: url(imgs/oze_Homepage-ship-bg-1.png) 437px -20px no-repeat;

}

.content__slot_1_content {
	width: 700px;
}

.content__slot_1 h2 {
	font-family: 'Sniglet', cursive;
	font-weight: bold;
	text-transform: uppercase;
}

/* Slot 2 */

.content__slot_2 {
	padding: 61px 0;
	text-align: center;
}

.content__slot_2 h2 {
	font-family: 'Sniglet', cursive;
	color: #38b9f2;
	font-weight: bold;
	text-transform: uppercase;
}

.content__slot_2--content {
	width: 780px;
	margin: 0 auto;
}

/* Slot 2 slideshow */

.content_slideshow {
	max-height: 330px;
	max-width: 643px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.content_slideshow .flexslider {
	box-shadow: none;
	border: none;
}

.content_slideshow ul.slides {
	list-style: none;
}

.content_slideshow .slide-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

.content_slideshow .flexslider .slides img {
	display: none;
}

.content_slideshow .single-item {
	height: 100%;
}

.content_slideshow .flex-direction-nav {
	display: none;
}

.content_slideshow .flex-control-nav {
	bottom: -61px;
}

.content_slideshow .flex-control-paging li a.flex-active {
	background: #1eaaf1;
}

.content_slideshow .flex-control-paging li a {
	background: rgba(30,170,241,0.5);
}

/* Slot 3 */

.content__slot_3 {
	background-color: #f3f3f3;
	padding: 41px 0;
	color: #9e9e9e;
}

.content__slot_3 h2 {
	font-family: 'Sniglet', cursive;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.content__slot_3 ul {
	list-style: none;
    text-align: justify;
    margin: 0;
}

.content__slot_3 ul li {
	list-style: none;
	margin-right: 102px;
	max-width: 170px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

/* Pages Header */

.page-middle {
    max-height: 404px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-middle > div {
    height: 320px;
}

/* Pages */

.pg_content__slot_1_content {
	margin: 30px 80px;
}

.pg_content__slot_1_content h1 {
	color: #38b9f2;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Sniglet', cursive;
}

.pg_content__slot_1__breadcrumb_section {
	background-color: #1eaaf1;
	color: #fff;
	padding: 35px 0px;
}

.pg_content__slot_1__breadcrumb_section h1 {
	font-family: 'Sniglet', cursive;
	float: left;
	margin-bottom: 0;
}

/* Blog */

.blog_content__slot_1_content {
	margin: 30px 0;
}

.blog_content__slot_1_blog-sidebar {
	float: left;
	width: 240px;
	margin: 0px;
}

.blog_content__slot_1_blog-sidebar .widget {
	padding-bottom: 30px;
}

.blog_content__slot_1_blog-sidebar .widgettitle {
    font-size: 22px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    text-transform: capitalize;
    border-bottom: 2px dotted #a2a2a2;
}

.blog_content__slot_1_blog-sidebar .widget ul,
.blog_content__slot_1_blog-sidebar .widget li {
	list-style: none;
	margin: 0;
}

.blog_content__slot_1_blog-sidebar .widget a {
	text-decoration: none;
	color: #0097d9;
    -webkit-transition: color 250ms;
    transition: color 250ms;
}

.blog_content__slot_1_blog-sidebar .widget a:hover {
	color: #f32a64;
}

.blog-content {
	float: right;
	margin-left: 20px;
	width: 740px;
}

.blog-content h2 a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #03A9F4;
	padding: 10px;
	-webkit-transition: color 250ms;
	transition: color 250ms;
}

.blog-content h2 a:hover {
	cursor: pointer;
	color: #f32a64;
}

.post {
	margin-bottom: 20px;
	padding: 15px;
	background-color: aliceblue;
	margin-right: 30px;
	border: 1px solid #1eaaf1;
	box-shadow: 1px 2px 5px #888888;
}

.blog_content__slot_1__breadcrumb_section {
	background-color: #1eaaf1;
	color: #fff;
	padding: 35px 0px;
}

.blog_content__slot_1__breadcrumb_section h1 {
	font-family: 'Sniglet', cursive;
	float: left;
	margin-bottom: 0;
}

.breadcrumb_section__breadcrumb {
	float: right;
	margin: 8px 0px 0px;
}

.breadcrumb_section__breadcrumb a {
	float: left;
}

.breadcrumb_section__breadcrumb span {
	float: left;
	margin: 0px 8px;
}

nav.breadcrumb_section__breadcrumb .current_page_item a::before {
    content: "»";
    margin-right: 4px;
}

.meta,
.postmetadata {
	display: inline-block;
}

.meta svg:first {
	margin-left: 0;
}

.meta svg,
.postmetadata svg {
    height: 22px;
    color: #f32a64;
	margin: 0 0 -5px 10px;
}

.meta a,
.postmetadata a {
	text-decoration: none;
	color: #0097d9;
	-webkit-transition: color 250ms;
	transition: color 250ms;
}

.meta a:hover,
.postmetadata a:hover {
	color: #f32a64;
}

/* =Footer
-------------------------------------------------------------- */

/* F-Slot 1*/

.footer__slot_1 {
	background-color: #1eaaf1;
	padding: 40px 0;
	color: #fff;
}

.footer__slot_1--bg {
	background: url(imgs/oze_Footerpage-ship-bg-1.png) -11px 10px no-repeat;
}

.footer__slot_1 h2 {
	font-family: 'Sniglet', cursive;
	text-transform: uppercase;
	font-weight: bold;
}

/* Gravity Form */

.footer__slot_1 form input[type="text"] {
	padding: 7px;
	border-radius: 7px;
}

.footer__slot_1 form input[type="submit"] {
	color: #fff;
	background-color: #f32a64;
	box-shadow: none;
	border: 1px solid #f32a64;
	border-radius: 7px;
	padding: 8px 4em 8px 4em;
}

.footer__slot_1 .gform_body {
	float: left;
	width: 75%;
}

.footer__slot_1 #gform_wrapper_1 form div.gform_footer {
	float: right;
	clear: none;
	margin: 0em 2em 0;
    padding-top: 6px;
}

.footer__slot_1 div.gform_wrapper form li, 
.footer__slot_1 .gform_wrapper li {
	display: inline-block;
	width: 25%;
}

.footer__slot_1 .gform_wrapper .top_label .gfield_label {
	display: none;
}

.footer__slot_1 div.gform_wrapper .top_label input.medium, 
.footer__slot_1 .gform_wrapper .top_label select.medium {
	width: 80%;
}

.footer__slot_1 .gform_confirmation_message_1 {
	font-family: 'Sniglet', cursive;
	font-size: 24px;
}

/* F-Slot 2 */

.footer__slot_2 {
	padding: 61px 0;
	color: #38b9f2;
}

.footer__slot_2 svg {
	color: #f32a64;
	margin-right: 12px;
}

/* F-Slot 2 Left */

.footer__slot_2_left {
	float: left;
	position: relative;
}

.footer__slot_2_left ul {
	list-style: none;
	margin: 0;
}

.footer__slot_2_left li {
	margin-bottom: 20px;
}

.footer__logo_character {
    background: url(imgs/sprite.png) -26px -219px no-repeat;
    width: 146px;
    height: 171px;    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

.footer__contact_info {
	float: right;
	margin-left: 60px;
}

.footer__contact_info h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Sniglet', cursive;
}

/* F-Slot 2 Right */

.footer__slot_2_right {
	float: right;
	margin-top: 27px;
	position: relative;
}

.footer__logo {
    background: url(imgs/sprite.png) -26px -40px no-repeat;
    width: 74px;
    height: 100px;
    text-indent: 100%;
    white-space: nowrap;
    margin: 0 0 10px 241px;
}